@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/* CSS HEX */
:root {
  --navy-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --cerulean-crayola: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --sky-blue-crayola-2: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --powder-blue: #caf0f8ff;
  --bg-color: #e9f8f7;
  --color-black: #222;
  --color-white: #ffffff;
  --color-gray: #cecece;
  --color-gray-p: #777777;
  --color-gray-bg: rgba(243, 243, 243, 0.7);

  /*Spacing*/
  --spacing: 0.1rem;
  --radius: 0.25rem;
  /*Transition*/
  --transition: all 175ms ease-in-out;
  --btn-transition: all 100ms linear;
  /* shadow */
  --shadow: rgba(0, 0, 0, 0.2);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 5rem;
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  color: var(--color-black);
  letter-spacing: var(--spacing);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.35;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Global Css */

.btn {
  text-transform: uppercase;
  background: var(--star-command-blue);
  color: var(--blizzard-blue);
  padding: 0.375rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  width: fit-content;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--navy-blue);
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--cerulean-crayola);
  margin-left: auto;
  margin-right: auto;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.footer {
  height: 9rem;
  background: var(--navy-blue);
  text-align: center;
  display: grid;
  place-items: center;
}

.show-sidebar {
  transform: translateX(0%) !important;
}
